bin/
obj/
syslogs/
runlog
syslog
syslog.last
lib/mail/
lib/rent/
lib/vault/
lib/player_idname
lib/*.data
lib/*.dat
lib/test.*
lib/runlog
lib/syslog
lib/syslog.last
lib/allmobs.txt
lib/clanlist.*
lib/clans
lib/gdb.*
lib/grepedit.txt
lib/help_log
lib/lottery.data
lib/*.messages
lib/highest_id
lib/post/
lib/PURGED/
lib/PURGEDNEWBIE/
lib/TPURGE/
lib/VAULTBACKUP/
lib/typos
lib/reboot_time
lib/plrlog
lib/slave.pid
lib/names-*
lib/wizlist
lib/wizlist_inact
